@import "../../_color.scss";

.featured__homepage {
  position: relative;
  margin-top: -10rem;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 12px;
}

.header__wrapper {
  background-color: $color-blue;
  min-height: 60vh;
}
